@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');




body {
    background-image: url('logo1.png');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    margin: 0;
    height: auto;
    background-size: contain;
    background-position: center center;
    height: 100vh;
}












/*grids*/
.container {
    display: grid;
    grid-template-areas: "header header" "content content" "footer footer";
    grid-template-rows: auto auto auto;
    gap: 0px;
    position: relative;
}

.container > div {
    box-sizing: border-box;
}

.container > div.header {
    grid-area: header;
    background-image: url('motto.png');
    background-color: #c1e9fa;
    height: auto;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container > div.content {
    grid-area: content;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    align-content: center;
}

.container > div.footer {
    grid-area: footer;
    background: white;
    align-items: center;
    height: auto;
    color: black;
    font-family: questrial;
    margin: 0;
}







/*fonts*/
.fonts {
    font-family: questrial;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    text-align: center;
}

.fonts1 {
    font-size: 40px;
    font-family: candara;
    letter-spacing: 2px;
    padding-left: 25px;
    padding-top: 0px;
    text-align: center;
}








/*images*/


.circle-image {
     
    border-radius: 10%;
    width: 10px;
       

}


.image {
    width: 300px;
}
.logo {
    width: 50px;
    float: left;
    padding-left: 0px;
}



/*logo and schoolname*/
.logo-school {
    display: flex;
    align-items: center;
    gap: 10px;
}

.motto {

}



/*typography*/
h1 {
    letter-spacing: 1px;
    font-size: 25px;
    font-family: candara;
    color: white;
}


/*Carousel*/
.carousel {
    position: relative;
    width: 800px;
    margin: auto;
    overflow: hidden;

    
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {

    min-width: 100%;

}

.slide img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

/*Thumbnails*/
.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnails img {
    width: 100px;
    height: 75px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid transparent;
    transition: 0.3s;

}




.thumbnails img.active {
    border-color: #0B0A30;
}


.a {
    background: #0a2472;
    height: 60px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between; 
    padding: 0 30px;
    align-items: center;
    font-family: candara;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.2s;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.a a:hover {
    background: white;
    color: #0e0c32;
    transform: scale(1.1);
    height: 35px;
}

span {
    display: flex;
    gap: 60px;
}



/*footer*/
.f {
    background-color: #0e0c32;
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    height: 200px;
}


.fb {
    cursor: pointer;
    width: 50px;
}

.fb1 {
    justify-content: left;
}